In [22]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import sklearn
import seaborn as sns
import numpy as np
%matplotlib inline


#functions
def gravGroup(x):
   if x ==1 or x ==4:
       return 1
   elif x ==2 or x ==3:
       return 0

def locPedest(x):
   if x == 0:
       return 0
   else:
       return 1
    
def ageCateg18(x):
   if x < 18:
       return 1
   else:
        return 0
    
def ageCateg65(x):
   if x > 65: 
       return 1
   else:
        return 0
    
users = pd.read_csv('../dataset/users.csv', low_memory=False, sep=',', encoding='utf-8')
users = users.drop(columns=['actp', 'etatp', 'place', 'trajet', 'secu'])

    
users['grav'] = users['grav'].apply(gravGroup)
users['locp'] = users['locp'].apply(locPedest)
carac = pd.read_csv("../dataset/caracteristics.csv", encoding="latin-1", low_memory=False).sort_values('Num_Acc')

usr_carac = pd.merge(users, carac, how='inner', on='Num_Acc', left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_us', '_cr'), copy=True, indicator=False,validate=None)
users[users['an_nais'].isna()]['an_nais'] = users['an_nais'].mean()
usr_carac['age'] = (2000 + usr_carac['an']) - usr_carac['an_nais']
usr_carac['ageCateg18'] = usr_carac['age'].apply(ageCateg18)
usr_carac['ageCateg65'] = usr_carac['age'].apply(ageCateg65)

/home/wilson_tayar/anaconda3/envs/tera-abr2018/lib/python3.6/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
usr_carac

,Num_Acc,catu,grav,sexe,locp,an_nais,num_veh,an,mois,jour,...,col,com,adr,gps,lat,long,dep,age,ageCateg18,ageCateg65
0,200500000001,1,1,1,0,1976.0,A01,5,1,12,...,3.0,11.0,CD41B,M,5051500.0,294400,590,29.0,0,0
1,200500000001,1,0,2,0,1968.0,B02,5,1,12,...,3.0,11.0,CD41B,M,5051500.0,294400,590,37.0,0,0
2,200500000001,2,1,1,0,1964.0,B02,5,1,12,...,3.0,11.0,CD41B,M,5051500.0,294400,590,41.0,0,0
3,200500000001,2,1,1,0,2004.0,B02,5,1,12,...,3.0,11.0,CD41B,M,5051500.0,294400,590,1.0,1,0
4,200500000001,2,1,1,0,1998.0,B02,5,1,12,...,3.0,11.0,CD41B,M,5051500.0,294400,590,7.0,1,0
5,200500000001,2,1,2,0,1991.0,B02,5,1,12,...,3.0,11.0,CD41B,M,5051500.0,294400,590,14.0,1,0
6,200500000002,1,1,1,0,1955.0,A01,5,1,21,...,1.0,51.0,rue de Lille,M,5053700.0,280200,590,50.0,0,0
7,200500000002,1,0,1,0,1979.0,B02,5,1,21,...,1.0,51.0,rue de Lille,M,5053700.0,280200,590,26.0,0,0
8,200500000003,1,1,1,0,1983.0,A01,5,1,21,...,1.0,51.0,NaN,M,5054600.0,280000,590,22.0,0,0
9,200500000003,1,0,1,0,1956.0,B02,5,1,21,...,1.0,51.0,NaN,M,5054600.0,280000,590,49.0,0,0
10,200500000004,1,0,1,0,1920.0,A01,5,1,4,...,5.0,82.0,NaN,M,5098700.0,240800,590,85.0,0,1
11,200500000004,2,0,2,0,1923.0,A01,5,1,4,...,5.0,82.0,NaN,M,5098700.0,240800,590,82.0,0,1
12,200500000004,1,1,1,0,1964.0,B02,5,1,4,...,5.0,82.0,NaN,M,5098700.0,240800,590,41.0,0,0
13,200500000004,1,1,2,0,1972.0,C03,5,1,4,...,5.0,82.0,NaN,M,5098700.0,240800,590,33.0,0,0
14,200500000005,1,0,1,0,1949.0,A01,5,1,10,...,6.0,478.0,NaN,M,5096400.0,247500,590,56.0,0,0
15,200500000005,2,1,1,0,1990.0,A01,5,1,10,...,6.0,478.0,NaN,M,5096400.0,247500,590,15.0,1,0
16,200500000006,1,0,2,0,1951.0,A01,5,1,28,...,6.0,82.0,NaN,M,5099500.0,239700,590,54.0,0,0
17,200500000007,1,1,1,0,1983.0,A01,5,1,3,...,3.0,130.0,NaN,M,0.0,0,590,22.0,0,0
18,200500000007,1,1,2,0,1965.0,B02,5,1,3,...,3.0,130.0,NaN,M,0.0,0,590,40.0,0,0
19,200500000008,1,0,1,0,1978.0,A01,5,1,18,...,6.0,404.0,le hameau du lac,M,5105200.0,253300,590,27.0,0,0
20,200500000009,1,1,1,0,1966.0,A01,5,1,25,...,3.0,309.0,NaN,M,5097300.0,257100,590,39.0,0,0
21,200500000009,1,0,1,0,1925.0,B02,5,1,25,...,3.0,309.0,NaN,M,5097300.0,257100,590,80.0,0,1
22,200500000009,2,1,2,0,1926.0,B02,5,1,25,...,3.0,309.0,NaN,M,5097300.0,257100,590,79.0,0,1
23,200500000010,1,1,1,0,1950.0,A01,5,1,29,...,6.0,260.0,NaN,M,5106500.0,252400,590,55.0,0,0
24,200500000010,3,0,1,1,1962.0,A01,5,1,29,...,6.0,260.0,NaN,M,5106500.0,252400,590,43.0,0,0
25,200500000011,1,1,1,0,1972.0,A01,5,1,23,...,3.0,401.0,NaN,M,0.0,0,590,33.0,0,0
26,200500000011,1,1,2,0,1974.0,B02,5,1,23,...,3.0,401.0,NaN,M,0.0,0,590,31.0,0,0
27,200500000011,2,1,1,0,1986.0,B02,5,1,23,...,3.0,401.0,NaN,M,0.0,0,590,19.0,0,0
28,200500000011,2,1,2,0,1984.0,B02,5,1,23,...,3.0,401.0,NaN,M,0.0,0,590,21.0,0,0
29,200500000012,1,1,1,0,1986.0,A01,5,1,11,...,6.0,212.0,Rue de Lille,M,5064700.0,273300,590,19.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1875975,201600059416,3,1,1,1,2008.0,A01,16,10,26,...,6.0,611.0,kaweni-Lazerevouni ( rue,NaN,NaN,NaN,976,8.0,1,0
1875976,201600059417,2,1,1,0,1990.0,Z01,16,10,29,...,1.0,611.0,kaweni-Poste ( rue de la,NaN,NaN,NaN,976,26.0,0,0
1875977,201600059418,1,1,1,0,1968.0,A01,16,10,31,...,6.0,611.0,mamoudzou centre-Jardin,NaN,NaN,NaN,976,48.0,0,0
1875978,201600059418,3,1,1,1,2006.0,A01,16,10,31,...,6.0,611.0,mamoudzou centre-Jardin,NaN,NaN,NaN,976,10.0,1,0
1875979,201600059419,3,0,1,1,1980.0,Z01,16,10,29,...,6.0,611.0,m'tsapere-M'tsapr- M't,NaN,NaN,NaN,976,36.0,0,0
1875980,201600059420,1,1,1,0,1994.0,A01,16,11,9,...,6.0,611.0,m'tsapere-Nationale 2 (r,NaN,NaN,NaN,976,22.0,0,0
1875981,201600059420,3,1,1,1,1978.0,A01,16,11,9,...,6.0,611.0,m'tsapere-Nationale 2 (r,NaN,NaN,NaN,976,38.0,0,0
1875982,201600059421,1,1,1,0,1989.0,A01,16,11,20,...,7.0,611.0,passamanty-Vahibé ( rout,NaN,NaN,NaN,976,27.0,0,0
1875983,201600059421,2,1,1,0,1987.0,A01,16,11,20,...,7.0,611.0,passamanty-Vahibé ( rout,NaN,NaN,NaN,976,29.0,0,0
1875984,201600059422,1,1,1,0,1957.0,A01,16,11,14,...,3.0,611.0,mamoudzou centre-Adrian,NaN,NaN,NaN,976,59.0,0,0
1875985,201600059422,1,1,1,0,1990.0,B01,16,11,14,...,3.0,611.0,mamoudzou centre-Adrian,NaN,NaN,NaN,976,26.0,0,0
1875986,201600059423,1,1,1,0,1977.0,A01,16,11,18,...,3.0,611.0,passamanty-Cavani-Be (ru,NaN,NaN,NaN,976,39.0,0,0
1875987,201600059423,1,1,1,0,1991.0,B01,16,11,18,...,3.0,611.0,passamanty-Cavani-Be (ru,NaN,NaN,NaN,976,25.0,0,0
1875988,201600059424,3,1,1,1,1992.0,A01,16,11,2,...,6.0,611.0,kaweni-Kaweni sud (Z I),NaN,NaN,NaN,976,24.0,0,0
1875989,201600059425,1,0,1,0,1984.0,A01,16,11,28,...,3.0,611.0,kaweni-Kaweni nord ( Z I,NaN,NaN,NaN,976,32.0,0,0
1875990,201600059426,1,1,1,0,2000.0,A01,16,11,28,...,3.0,611.0,mgombani-Baobab ( Bd ),NaN,NaN,NaN,976,16.0,1,0
1875991,201600059426,2,1,1,0,2001.0,A01,16,11,28,...,3.0,611.0,mgombani-Baobab ( Bd ),NaN,NaN,NaN,976,15.0,1,0
1875992,201600059426,1,1,1,0,1974.0,B01,16,11,28,...,3.0,611.0,mgombani-Baobab ( Bd ),NaN,NaN,NaN,976,42.0,0,0
1875993,201600059427,1,1,1,0,1973.0,A01,16,12,13,...,6.0,611.0,convalescence/vetivers-S,NaN,NaN,NaN,976,43.0,0,0
1875994,201600059427,3,1,1,1,2008.0,A01,16,12,13,...,6.0,611.0,convalescence/vetivers-S,NaN,NaN,NaN,976,8.0,1,0
1875995,201600059428,1,1,1,0,1990.0,A01,16,12,1,...,6.0,611.0,passamanty-Vahib ( rout,NaN,NaN,NaN,976,26.0,0,0
1875996,201600059428,3,1,1,1,2004.0,A01,16,12,1,...,6.0,611.0,passamanty-Vahib ( rout,NaN,NaN,NaN,976,12.0,1,0
1875997,201600059429,1,1,1,0,1984.0,A01,16,12,3,...,7.0,611.0,mamoudzou centre-Adrian,NaN,NaN,NaN,976,32.0,0,0
1875998,201600059430,1,1,1,0,1980.0,A01,16,12,5,...,3.0,611.0,kaweni-Kaweni sud (Z I),NaN,NaN,NaN,976,36.0,0,0
1875999,201600059430,1,1,1,0,1992.0,B01,16,12,5,...,3.0,611.0,kaweni-Kaweni sud (Z I),NaN,NaN,NaN,976,24.0,0,0
1876000,201600059431,1,1,1,0,1994.0,A01,16,12,6,...,3.0,611.0,kaweni-Kaweni nord ( Z I,NaN,NaN,NaN,976,22.0,0,0
1876001,201600059431,1,1,1,0,1990.0,B01,16,12,6,...,3.0,611.0,kaweni-Kaweni nord ( Z I,NaN,NaN,NaN,976,26.0,0,0
1876002,201600059432,1,1,1,0,1967.0,A01,16,12,24,...,3.0,611.0,kaweni-Kaweni sud (Z I),NaN,NaN,NaN,976,49.0,0,0
1876003,201600059432,2,1,1,0,1967.0,A01,16,12,24,...,3.0,611.0,kaweni-Kaweni sud (Z I),NaN,NaN,NaN,976,49.0,0,0
1876004,201600059432,1,1,1,0,1981.0,B01,16,12,24,...,3.0,611.0,kaweni-Kaweni sud (Z I),NaN,NaN,NaN,976,35.0,0,0

In [24]:
y = users.groupby('Num_Acc').count()
x = y['catu'].values
users_sorted = users.sort_values('Num_Acc')[['Num_Acc','catu']]

In [35]:
users_sorted.iloc[0:5]['catu'].value_counts().loc[1]

2

In [41]:
users_sorted.iloc[0:5]['catu'].values

array([1, 2, 2, 1, 2])

In [46]:
count_driver.append(users_sorted.iloc[0:5]['catu'].value_counts().loc[1])
len(count_driver)

839986

In [45]:
ind = 0
count_driver = []
for i in range(len(x)):
    if 1 in (users_sorted.iloc[ind:ind+x[i]]['catu'].values):
        count_driver.append(users_sorted.iloc[ind:ind+x[i]]['catu'].value_counts().loc[1])
    else:
        count_driver.append(0)
    ind = ind + x[i]

80901

In [51]:
#AGECATEG18
ind = 0
agecateg18 = []
w = usr_carac.loc[usr_carac['catu'] == 1,'ageCateg18']
for i in range(len(x)):
    if 1 in w[ind:ind+x[i]].values:
        agecateg18.append(1)
    else:
        agecateg18.append(0)
    ind = ind + count_driver[i]

In [52]:
#AGECATEG65
ind = 0
agecateg65 = []
w1 = usr_carac.loc[usr_carac['catu'] == 1,'ageCateg65']
for i in range(len(x)):
    if 1 in w1[ind:ind+x[i]].values:
        agecateg65.append(1)
    else:
        agecateg65.append(0)
    ind = ind + count_driver[i]

In [55]:
#grav
ind = 0
grav = []
for i in range(len(x)):
    if 0 in (usr_carac.iloc[ind:ind+x[i]]['grav'].values):
        grav.append(1)
    else:
        grav.append(0)
    ind = ind + x[i]

In [56]:
#locp
ind = 0
pedest = []
for i in range(len(x)):
    if 1 in (usr_carac.iloc[ind:ind+x[i]]['locp'].values):
        pedest.append(1)
    else:
        pedest.append(0)
    ind = ind + x[i]

In [57]:
z = usr_carac['Num_Acc'].unique()

In [63]:
usr_done = pd.DataFrame({'Num_Acc':z,'grav':grav,'locp' : pedest, 'ageCateg18':agecateg18,'ageCateg65':agecateg65})

In [64]:
usr_done.to_csv('Users_done.csv', sep=',')

In [65]:
usr_done

             Num_Acc  ageCateg18  ageCateg65  grav  locp
0       200500000001           0           0     1     0
1       200500000002           0           0     1     0
2       200500000003           0           0     1     0
3       200500000004           0           1     1     0
4       200500000005           0           0     1     0
5       200500000006           0           0     1     0
6       200500000007           0           0     0     0
7       200500000008           0           0     1     0
8       200500000009           0           1     1     0
9       200500000010           0           0     1     1
10      200500000011           0           0     0     0
11      200500000012           0           0     0     0
12      200500000013           0           0     0     0
13      200500000014           0           0     1     1
14      200500000015           0           0     1     1
15      200500000016           0           0     1     0
16      200500000017           0           0     1     0
17      200500000018           0           0     1     0
18      200500000019           0           0     1     0
19      200500000020           1           0     0     1
20      200500000021           1           0     0     0
21      200500000022           0           0     1     0
22      200500000023           1           0     1     0
23      200500000024           0           0     1     0
24      200500000025           0           0     1     1
25      200500000026           0           0     1     1
26      200500000027           0           0     1     0
27      200500000028           0           0     0     0
28      200500000029           0           0     1     0
29      200500000030           0           0     0     0
...              ...         ...         ...   ...   ...
839955  201600059403           0           0     0     0
839956  201600059404           0           0     0     0
839957  201600059405           0           0     0     1
839958  201600059406           0           0     1     0
839959  201600059407           0           0     0     1
839960  201600059408           0           0     0     0
839961  201600059409           0           0     0     1
839962  201600059410           0           0     0     1
839963  201600059411           0           0     0     1
839964  201600059412           0           0     1     0
839965  201600059413           0           0     0     0
839966  201600059414           0           0     0     0
839967  201600059415           0           0     0     1
839968  201600059416           0           0     0     1
839969  201600059417           0           0     0     0
839970  201600059418           0           0     0     1
839971  201600059419           0           0     1     1
839972  201600059420           0           0     0     1
839973  201600059421           0           0     0     0
839974  201600059422           0           0     0     0
839975  201600059423           0           0     0     0
839976  201600059424           0           0     0     1
839977  201600059425           0           0     1     0
839978  201600059426           1           0     0     0
839979  201600059427           0           0     0     1
839980  201600059428           0           0     0     1
839981  201600059429           0           0     0     0
839982  201600059430           0           0     0     0
839983  201600059431           0           0     0     0
839984  201600059432           0           0     0     0

[839985 rows x 5 columns]

In [19]:
usr_carac.loc[usr_carac['catu'] == 1,'ageCateg18'][0:2].values

array([0, 0])

In [ ]:
ind = 0
for i in range(len(usr_carac)):
    if 1 in (usr_carac.loc[usr_carac['catu'] == 1,'ageCateg18'][0:ind].values):
    usr_carac
    else:
        has_driver.append(0)
    ind = ind + [i]

In [ ]:
users.shape #1876005
users.describe

In [ ]:
len(users['Num_Acc'].unique())

In [ ]:
y = users.groupby('Num_Acc').count()
len(y)

In [ ]:
x = y['catu'].values
len(x)

In [ ]:
users_sorted = users.sort_values('Num_Acc')[['Num_Acc','catu']]
len(users_sorted)

In [ ]:
1 in users_sorted.iloc[:10]['catu'].values

In [ ]:
ind = 0
has_driver = []
for i in range(len(x)):
    if 1 in (users_sorted.iloc[ind:ind+x[i]]['catu'].values):
        has_driver.append(1)
    else:
        has_driver.append(0)
    ind = ind + x[i]

In [ ]:
len(has_driver)

In [ ]:
sum(has_driver)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import sklearn
import seaborn as sns
import numpy as np
%matplotlib inline

users = pd.read_csv('../dataset/users.csv', low_memory=False, sep=',', encoding='utf-8')
users = users.drop(columns=['actp', 'etatp', 'place', 'trajet', 'secu'])

#functions
def gravGroup(x):
   if x ==1 or x ==4:
       return 0
   elif x ==2 or x ==3:
       return 1

def locPedest(x):
   if x == 0:
       return 0
   else:
       return 1
    
def age(x):
   if x < 18:
       return 0
   elif x >=18 and x <=65:
       return 1
   else:
        return 2
    
def ageCateg18(x):
   if x < 18:
       return 1
   else:
        return 0
    
def ageCateg65(x):
   if x > 65: 
       return 1
   else:
        return 0
       
users['grav'] = users['grav'].apply(gravGroup)
#users = users[(users['catu']==1)]
users['locp'] = users['locp'].apply(locPedest)
carac = pd.read_csv("../dataset/caracteristics.csv", encoding="latin-1", low_memory=False)
users['age'] = (2000 + carac['an']) - users['an_nais']
users[users['age'].isna()] = users['age'].mean()

#users = users['Num_Acc'].unique()

#users['age18'] = users['age'].apply(ageCateg18)
#users['age65'] = users['age'].apply(ageCateg65)
#users = users.drop(columns=['an_nais'])


#for i in range(len(users)):
 #  if users['age18'][i] == 1 or carac['age65'][i] == 1:
 #      users[“sun_sat_hol_holminus1”][i] = 1
 #  else:
#users18 = users[(users['age18']==1)]
#users65 = users[(users['age65']==1)]
#usersFiltered = users18.append(users65, ignore_index=True)

#users = users[users['age18']==1 or carac['age65']==1]

In [ ]:
x

In [ ]:
users.to_csv('Users.csv', sep=',')

In [ ]:
users.shape

In [ ]:
users = users[(users['catu']==1)]
users.shape
users['catu'].hist(figsize=(20,10))

In [ ]:
y = users.groupby('Num_Acc').count()

x=y['catu'].values

z = users['Num_Acc'].unique()
z.sort()
#new_veh= pd.DataFrame({'Num_Acc':z,'count_veh':x})
new_users= pd.DataFrame({'Num_Acc':z,'count_users':x})

In [ ]:
#vehi_sorted = vehicles.sort_values('Num_Acc')[['Num_Acc','catv']]
users_sorted = users.sort_values('Num_Acc')[['Num_Acc','catu']]

ind = 0
is_usr_eq = []
for i in range(len(x)):
    if len(vehi_sorted.iloc[ind:ind+x[i]]['catv'].unique()) == 1:
        is_veh_eq.append(0)
    else:
        is_veh_eq.append(1)
    ind = ind + x[i]

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import sklearn
import seaborn as sns
import numpy as np
%matplotlib inline

usersA = pd.read_csv('../dataset/users.csv', low_memory=False, sep=',', encoding='utf-8')
usersA = usersA.drop(columns=['actp', 'etatp', 'place', 'trajet', 'secu'])
usersA = usersA['Num_Acc'].unique()
usersA.size #839985
usersX = usersA[usersA['catu']==1]

#usersA[(usersA['catu']==1)].count()

 
#usersCatu = usersA[(usersA['catu']==1)]
#users['locp'] = users['locp'].apply(locPedest)
#carac = pd.read_csv("../dataset/caracteristics.csv", encoding="latin-1", low_memory=False)
#users['age'] = (2000 + carac['an']) - users['an_nais']
#users[users['age'].isna()] = users['age'].mean()
#users['age18'] = users['age'].apply(ageCateg18)
#users['age65'] = users['age'].apply(ageCateg65)
#users = users.drop(columns=['an_nais'])


#for i in range(len(users)):
 #  if users['age18'][i] == 1 or carac['age65'][i] == 1:
 #      users[“sun_sat_hol_holminus1”][i] = 1
 #  else:
#users18 = users[(users['age18']==1)]
#users65 = users[(users['age65']==1)]
#usersFiltered = users18.append(users65, ignore_index=True)

#users = users[users['age18']==1 or carac['age65']==1]